@model ParlamentApp.ViewModel.SednicaViewListingModel

<table class="table table-hover">
    <thead>
        <tr>
            <th>Datum pocetka</th>
            <th>Datum zavrsetka</th>
            <th>Broj saziva</th>
            <th>Broj zasedanja</th>    
        </tr>
    </thead>
    <tbody>
        @foreach (var sednica in Model.Sednice)
        {
            <tr>
              <td>@sednica.DatumPocetka.ToString("dd-MM-yyyy")</td>
              <td>@sednica.DatumZavrsetka.ToString("dd-MM-yyyy")</td>
              <td>@sednica.BrojSaziva</td>
              <td>@sednica.BrojZasedanja</td>
               <td><a class="btn btn-sm btn-outline-danger izbrisiSednicu" data-id="@sednica.Id">X</a></td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(".izbrisiSednicu").click(function () {
    swal({
        text: "Da li ste sigurni da želite da izbrišete ovu sednicu?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: 'POST',
                    url:'@Url.Action("IzbrisiSednicu", "Sednica")',
                    data: {
                        IdSednice: $(this).attr('data-id'),
                    }
                })
                    .done(function (response) {
                        swal("Sednica je uspešno izbrisana!", {
                            icon: "success",
                        }).then((value) => {
                          window.location = '@Url.Action("Index","Home")';
                      });
                    })
                    .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Fail")
                    });
            }
        });
});
</script>